@model dynamic

@{
  ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
  <p style="text-align: center;">You have signed up with Xero!</p>

  <h2>Organisations</h2>
  <table class="table table-bordered">
       <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
      <th scope="col">Entity Type</th>
      <th scope="col">Base Currency</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var org in Model)
      {
        <tr>
      <th scope="row">@org.Name</th>
      <td>@org.OrganisationID</td>
      <td>@org.OrganisationEntityType</td>
      <td>@org.BaseCurrency</td>
    </tr>
      }
      </table>
  <br>
  <p><b>Raw JSON Response:</b></p>
  <textarea class="form-control" readonly style="height: 350px">
    @ViewBag.jsonResponse;
  </textarea>
  <br>

  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
  <br>
  <br>
  <br>
}
else
{
  <div class="home">
       <h1 class="home-title">
      Welcome to the Sign Up With Xero Sample App.
    </h1>
  <div class="home-auth-container">
      <div class="home-auth-form-container">
          @*<a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Index" data-xero-sso data-label="Sign In with Xero"></a>*@
          <a class="nav-link" asp-area="" asp-controller="Authorization" asp-action="Index" data-xero-sso data-label="Sign Up with Xero"></a>
           <script src="https://edge.xero.com/platform/sso/xero-sso.js" async defer></script>
        </div>
        <div class="home-explainer-text">
            This is a sample app that demos how to add Sign up with Xero capability to a sample app. If you're new here, click Sign Up With Xero to see how it works! 🎉
        </div>
  </div>
  </div>
}